@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&family=Voltaire&display=swap');
@import url("https://use.typekit.net/aca5mgo.css");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main {
  padding-top: 125px;
  padding-bottom: 50px;
  margin-right: 5%;
  margin-left: 5%;
  justify-content: center;
}

@media (max-width: 768px) {
  .main {
    margin-right: 7.5%;
    margin-left: 7.5%;
    text-align: justify;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    line-height: auto;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top:0;  
  min-width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.nav-item {
  font-family: 'Akshar', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 2rem;
  margin: 1%;
}

.nav-item a:hover {
  color: #73a6f7; 
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  max-width: 100%;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  line-height: Auto;
}

h1{
  font-family: "Cheap Pine", sans-serif;
  font-style: normal;
  font-size: 42px;
}

h2{
  font-family: 'Gin', sans-serif;
  font-style: normal;
  font-size: 28px;
}

h3{
  font-family: "Cheap Pine Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

h4{
  font-family: "Cheap Pine Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;

}

.footer{
  justify-content: space-around;
  background-color: #242424;
  padding: 2%;
  bottom: 0;
}

.copyright{
  background-color: #212121;
  padding: 2%;
  min-width: 100%;
  bottom: 0;
  font-family: 'Inter',sans-serif;
  font-size: 10px;
  text-align: center;
  color: white;
}

.footer-item {
  font-family: 'Akshar', sans-serif; 
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.footer-item a:hover {
  color: #73a6f7; 
}

.form {
  margin-top: 1%;
  margin-bottom: 1%;
}

.newItemImage{
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
  
@media (max-width: 600px) {
  .newItemImage {
    padding-left: 20%;
    padding-right: 20%;
  }
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-top: 2%;
  margin-bottom:2%;
}

.menu-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-item{
  padding:2%
}